/* Layout for search container */

.search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}
.search:before {
    background-color: #02224f;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);    
    content:'';
}
.search-open .search:before {
    opacity: 0.65;
    visibility: visible;

}

.search-open .search {
    opacity: 1;
    visibility: visible;
    z-index: 999991;
}

.btn--search-close {
    font-size: 2em;
    position: absolute;
    z-index: 100;
    top: 1.25em;
    right: 1.25em;
    display: none;
}

.search-open .btn--search-close {
    display: block;
}

.search__form {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: table;
    -webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transform: translate3d(0px, -100px, 0);
    opacity: 0;
    visibility: hidden;
}

.search-open .search__form {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.search__input {
    border: 0;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 32px;
    line-height: 1;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 50px;    
}

.search__info {
    border-top: 4px solid #fff;
    opacity: 0!important;
    color: #fff;
}

.search-open .search__input,
.search-open .search__info {
    opacity: 1!important;
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
    transform: translate3d(0, 0px, 0) scale(1);
}

.search__input::-webkit-input-placeholder {
    opacity: 0.1;
    color: #fff;
}

.search__input::-moz-placeholder {
    opacity: 0.1;
    color: #fff;
}

.search__input:-ms-input-placeholder {
    opacity: 0.1;
    color: #fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search__input::-ms-clear {
    display: none;
}

.search__info {
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 10px auto 0;
    padding: 20px 0;
    text-align: right;
}

.search__related {
    display: flex;
    width: 75%;
    max-width: 900px;
    pointer-events: none;
}

.search__suggestion {
    width: 50%;
    padding: 0 1em 0 0;
    text-align: left;
}

.search__suggestion:last-child {
    padding: 0 0 0 1em;
}

.search__suggestion h3 {
    font-size: 1.35em;
    margin: 0;
}

.search__suggestion h3::before {
    content: '\21FE';
    display: inline-block;
    padding: 0 0.5em 0 0;
}

.search__suggestion p {
    font-size: 1.15em;
    line-height: 1.4;
    margin: 0.75em 0 0 0;
}


/************************/


/* Transitions 			*/


/************************/


/* Search button */

.btn--search {
    transition: opacity 0s;
}


/* Close button */

.btn--search-close {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.6s, transform 0.6s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search-open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}


/* Halfs */

.js .search__inner {
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.js .search__inner--up {
    transform: translate3d(0, -100%, 0);
}

.js .search__inner--down {
    transform: translate3d(0, 100%, 0);
}

.js .search--open .search__inner {
    transform: translate3d(0, 0, 0);
}

.js .search__suggestion {
    transform: translate3d(0, 150px, 0);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.js .search--open .search__suggestion {
    transform: translate3d(0, 0, 0);
    transition-delay: 0.05s;
}

.js .search--open .search__suggestion:last-child {
    transition-delay: 0.1s;
}

@media screen and (max-width: 40em) {
    .btn--search-close {
        font-size: 1.25em;
    }
    .search__suggestion {
        width: 100%;
    }
    .search__suggestion:last-child {
        display: none;
    }
}

header {
    transition: all 0.8s ease;
}
.search-open {
    overflow: hidden !important;
}
.search-open header {
    opacity: 0;
    visibility: hidden;
}

.content {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
}

.search-open .content {
    -webkit-transform: translate3d(-90%, 50%, 0) !important;
    -moz-transform: translate3d(-90%, 50%, 0) !important;
    transform: translate3d(-90%, 50%, 0) !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

nav {
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    transition: all 700ms ease;
}

.search-open nav {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 0;
    visibility: hidden;
}
.search-open #stars,
.search-open #stars2,
.search-open #stars3 {
        opacity: 0;
        visibility: hidden;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.search img.left,
.search img.right {
    position:absolute;
    opacity:0.2;
}

.search img.left {
    left:0;
    top:0;
}

.search img.right {
    bottom:0;
    right:0;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
}